{% extends 'layout.html' %}

{% block content %}

<section class="hero align-items-stretch text-white bg-primary mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1 class="display-4 mb-3">Welcome to TalentMatch</h1>
        <p class="lead mb-4">
            TalentMatch is a sophisticated platform designed to facilitate the process of matching resumes with job descriptions. 
            Our system allows employers to upload job descriptions, and candidates to upload resumes, creating a streamlined process 
            for finding the perfect match between job openings and potential employees. 
        </p>
        
        <p class="lead mb-4">
            With our advanced technology, TalentMatch efficiently identifies and matches the skills required for a job with the skills listed 
            in candidates' resumes. This automated matching process significantly reduces the time and effort traditionally required in the 
            recruitment process, allowing companies to quickly identify suitable candidates.
        </p><a href="register" class="btn btn-lg btn-light">Get Started</a>
      </div>
    </div>
  </div>
</section>

<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      
      <div class="card-body">
        <h5 class="card-title">Resume: Dos and Don'ts</h5>
        <p class="card-text">Tips on how to build a stellar resume.</p>
        <a href="https://www.themuse.com/advice/42-resume-dos-and-donts-every-job-seeker-should-know" class="btn btn-primary">Read More</a>
      </div>
      
    </div>
  </div>
  
  <!-- More cards -->
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      
      <div class="card-body">
        <h5 class="card-title">Stategies to Hire Employees</h5>
        <p class="card-text">Tips on how to hire employees</p>
        <a href="https://www.forbes.com/advisor/business/how-to-hire-employees/" class="btn btn-primary">Read More</a>
      </div>
      
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      
      <div class="card-body">
        <h5 class="card-title">Best HR Resources</h5>
        <p class="card-text">List of top 21 HR Resources</p>
        <a href="https://www.bamboohr.com/blog/top-websites-for-hr-professionals" class="btn btn-primary">Read More</a>
      </div>
      
    </div>
  </div>


</div>

{% endblock %}